<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Сайт с JS</title>
	<!--<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">-->
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script defer type="module" src="js/client.js"></script>
  	<script defer type="module" src="js/main.js"></script>
</head>
<body>

	<main id="posts">
		
		<div v-if="posts.length > 0">
		
			<div class="posts" v-for="post in posts">
			
				<h2 class="title">#{{ post.id }} {{ post.title }}</h2>
				<p class="text">{{ post.body }}</p>
				<div class="author">{{ post.user.name }}</div>

				<div class="comments">
					<div v-if="post.comments.length > 0">
						<div v-if="post.comments.length > 1">{{ post.comments.length }} comments:</div>
						<h3 v-else>comment:</h3>
					<div v-for="comment in post.comments">
						<div class="com-name">{{ comment.name }}</div>
						<div class="com-email">{{ comment.email }}</div>
						<div class="com-comment">{{ comment.body }}</div>
					</div>
					</div>
					<div v-else>
          				<h3>no comments</h3>
       				 </div>
				</div>

			</div>

		</div>
	</main>
	
</body>
</html>