* {
	margin: 0;
	padding: 0;
}

body {
	background: url(haduka.jpg);
	background-size: cover;
	font-family: Tahoma;
}

#popup {
	width: 300px; 
	height: 300px; 
	border-radius: 5px;
	border: 3px #000 solid;
	background: #fff;
	position: fixed; 
	top: 45%; 
	left: 50%; 
	margin-top: -150px;
	margin-left: -150px; 
	display: none; 
	opacity: 0; 
	z-index: 5001; 
	padding: 20px 10px;
	text-align: center;
}

#tc {
	display: none;
	position: fixed;
	z-index: 5002;
	bottom: 5px;
	left: 50%;
	margin-left: -228px;
}

#popup h3 {
	margin-bottom: 20px;
}

#black {
	background: #000;
	width: 100%;
	height: 100%;
	z-index: 5000;
	position: fixed;
	opacity: 0.8;
	top:0; 
	left:0;
	display: none;
}

#but {
	cursor: pointer;
}

.vekoo {
	display: none;
	position: absolute;
	z-index: 5004;
	width: 295px;
	height: 155px;
	background: #000;
}

#veko1 {
	border-radius: 70% 70% 0 0;
	top: 0;
	left: 3px;
}

#veko2 {
	border-radius: 0 0 70% 70%;
	top: 155px;
	left: 3px;
}

#veko3 {
	border-radius: 70% 70% 0 0;
	top: 0;
	right: 3px;
}

#veko4 {
	border-radius: 0 0 70% 70%;
	top: 155px;
	right: 3px;
}

.shar:hover {
	transform: rotateY(360deg);
	transition: transform 0.7s;
}

#sharingan {
	border-radius: 150px;
	display: none;
	z-index: 5003;
	position: fixed;
	left: 0;
	top: 0;
}

#sharingan2 {
	border-radius: 150px;
	display: none;
	z-index: 5003;
	position: fixed;
	right: 0;
	top: 0;
}

#sharingan, #sharingan2{
-o-transform: rotate(-40deg);
-webkit-transform: rotate(-40deg);
-moz-transform: rotate(-40deg);
-mz-transform: rotate(-40deg);
transform: rotate(-40deg);
    -webkit-animation: preloader 20s ease-in-out infinite;
    -moz-animation: preloader 20s ease-in-out infinite;
    -ms-animation: preloader 20s ease-in-out infinite;
    -o-animation: preloader 20s ease-in-out infinite;
    animation: preloader 20s ease-in-out infinite;
}
 
@-webkit-keyframes preloader {
    
from    { -webkit-transform:rotate(3200deg); }
to      { -webkit-transform:rotate(-40deg); }
}
 
@-moz-keyframes preloader {
  from  { -webkit-transform:rotate(3200deg); }
to      { -webkit-transform:rotate(-40deg); }
}
 
@-ms-keyframes preloader {
   from { -webkit-transform:rotate(3200deg); }
to      { -webkit-transform:rotate(-40deg); }
}
 
@-o-keyframes preloader {
    from    { -webkit-transform:rotate(3200deg); }
to      { -webkit-transform:rotate(-40deg); }
}
 
@keyframes preloader {
    from    { -webkit-transform:rotate(3200deg); }
to      { -webkit-transform:rotate(-40deg); }
}

#button {
	width: 250px;
	height: 250px;
	background: #fb05ff;
	margin: 350px auto;
	border-radius: 50%;
	box-shadow: 0 0 15px rgba(39, 28, 208, 0.83);
	color: #fff;
	text-align: center;
}

#button h3 {
	line-height: 250px;
}

#button:hover {
	cursor: pointer;
	box-shadow: 0 0 20px 8px rgba(39, 28, 208, 0.83);
}