<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="Web - студия WWW закажите сайт и не пожалеете">
		<meta name="keywords" content="Сайты, веб, студия, заказать, сайт, новости">
		<meta name="author" content="Ramin">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Новости | Web - студия "WWW"</title>
		<link id="favicon" rel="shortcut icon" href="../assets/favicon.ico" />
		<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../styles/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../styles/main.css">
		<link rel="stylesheet" type="text/css" href="../styles/style-mobile.css">
	</head>
	<body>
		<div class="popup">
			<div class="close">X</div>
			<h3 class="text-center">Введите свой номер</h3>
			<form method="GET">
				<input type="text" name="tel">
				<button type="submit">Отправить</button>
			</form>
		</div>
		<header class="header">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-3 col-xs-7">
						<a href="../index.html">
							<img src="../assets/logo2.png" class="logo img-responsive">
						</a>
					</div>
					<img class="img-responsive burger" src="../assets/if_List_Text_Menu_Numbers_String_Burger_1329080.png">
					<div class="col-md-6 col-sm-7">
						<ul class="list-inline header-ul">
							<li><a href="../index.html">Главная</a></li>
							<li><a href="about.html">О компании</a></li>
							<li><a href="portfolio.html">Портфолио</a></li>
							<li><a href="technology.html">Технологии</a></li>
							<li class="active"><a href="news.html">Новости</a></li>
						</ul>
					</div>
					<div class="col-md-2 col-sm-2 col-xs-3">
						<div class="call-me text-center">Позвоните мне!</div>
					</div>
				</div>
			</div>
		</header>
		<section class="orange">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<h2 class="text-center">Новости</h2>
					</div>
					<div id="h-news">
						<div v-for="news in news" class="col-md-12 col-sm-12 col-xs-12">
						<div class="nn">
							<div class="news-block" id="n1">
								<div class="date">{{ news.date }}</div>
								<a href="news2.html"><h4>{{ news.title }}</h4></a>
								<p>{{ news.text }}</p>
								<div class="news-foot">
									<div class="comment" data-toggle="collapse" v-bind:data-target="'#' + news.id">Комментарии (<span>1</span>)</div>
								</div>
								<div v-bind:id="news.id" class="collapse">
									<div v-for="comments in comments">
										<div v-if="comments.post === news.id" class="comment-block">
											<img class="img-responsive" src="../assets/if_user-alt_285645.png">
											<div class="us-name">{{ comments.name }}</div>
											<p>{{ comments.text }}</p>
										</div>
									</div>
								</div>
							
							</div>
						</div>
					</div>
					</div>
					
				</div>
			</div>
			
			
		</section>
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12">
						<ul class="list-inline footer-ul">
							<li><a href="../index.html">Главная</a></li>
							<li><a href="about.html">О компании</a></li>
							<li><a href="portfolio.html">Портфолио</a></li>
							<li><a href="technology.html">Технологии</a></li>
							<li><a href="news.html">Новости</a></li>
						</ul>
					</div>
					<div class="col-md-12 col-sm-12">
						<a href="../index.html"><img src="../assets/logo2.png" class="logo img-responsive"></a>
						<b>WWW 2018</b>
					</div>
				</div>
			</div>
		</footer>
		<script type="text/javascript" src="../scripts/jquery-1.10.2.js"></script>
		<script type="text/javascript" src="../scripts/bootstrap.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="../scripts/jquery.prettyPhoto.js"></script>
		<script type="text/javascript" src="../scripts/main.js"></script>
		<script type="text/javascript" src="../scripts/news.js"></script>
	</body>
</html>