* {
	margin: 0;
	padding: 0;
	outline: none;
}

body {
	font-family: 'PT Sans', sans-serif;
	display: grid;
}

header, footer, section {
	padding: 0 15px;
}

section {
	padding-top: 15px;
	padding-bottom: 15px;
}

header {
	background: #4d4d4d;
}

h1 {
	font-size: 37px;
}

a:hover {
	text-decoration: none;
}

.text-center {
	text-align: center;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

.popup {
	transition: top .3s;
	position: fixed;
	top: -150px;
	width: 400px;
	padding: 10px;
	box-shadow: 0 0 20px 3px rgb(132, 132, 132);
	background: #fff;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.animate {
	top: 0;
}

.tech {
	width: 33%;
	float: left;
	text-align: center;
	margin-bottom: 80px;
}

.tech img {
	max-width: 70%;
}

.map {
	float: left;
	margin-right: 20px;
}

.contact a, .contact p {
	color: #000;
	font-size: 18px;
}

.fc {
	width: 100%;
}

.rekviziti {
	text-decoration: underline;
	cursor: pointer;
}

.rekviziti:hover {
	text-decoration: none;
}

.rek {
	transition: .5s;
	opacity: 0;
}

.rekact {
	opacity: 1;
}

.close {
	float: right;
	font-weight: bold;
	cursor: pointer;
}

.popup h3 {
	margin-bottom: 15px;
}

.popup input {
	width: 100%;
	height: 30px;
	margin-bottom: 10px;
	border-radius: 9px;
	box-shadow: 0 0 4px rgb(41, 136, 255);
	border: 1px solid #9f9f9f;
}

.popup button {
	display: block;
	margin: 0 auto;
	padding: 12px;
	color: #5c5c5c;
	font-weight: bold;
	background: #00fff1;
	border: none;
	border-radius: 20px;
	cursor: pointer;
}

.logo {
	width: 90px;
	float: left;
}

.list-inline {
	padding-left: 0;
	margin-left: -5px;
	list-style: none;
}

.list-inline li {
	display: inline-block;
	padding-left: 10px;
}

.header-ul {
	float: right;
	margin-top: 32px;
}

.header-ul .active {
	text-decoration: underline;
}

.header-ul li a {
	font-size: 20px;
	text-decoration: none;
	color: #fff;
}

.header-ul li a:hover {
	text-decoration: underline;
}

.call-me {
	transition: .3s;
    float: right;
    cursor: pointer;
    margin-top: 23px;
    margin-left: 30px;
    color: #fff;
    background: #8987f5;
    border-radius: 5px;
    font-size: 19px;
    padding: 10px;
}

.call-me:hover {
	box-shadow: 0 0 20px 3px rgb(137, 135, 245);
}

.burger {
	display: none;
	float: right;
	margin-top: 15px;
}

.text-slide {
	height: 340px;
	background: url(../assets/slide1.jpg);
	background-size: cover;
	background-position: 1% 54%;
	background-attachment: fixed;
	color: #fff;
}

.text-slide h1 {
	margin-top: 98px;
}

.text-slide h3 {
	margin-top: 16px;
}

.about {
	background: #eee;
}

.about h2 {
	color: #000;
	margin-bottom: 10px;
}

.why-we, .home-news {
	background: #fff;
}

.why-we h2, .home-news {
	margin-bottom: 15px;
}

.home-news-block {
	width: 25%;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
	border-right: 1px solid #000;
}

.home-news-block:first-child {
	padding-left: 0;
}

.home-news-block:last-child {
	border: none;
}

.home-news-block a {
	color: #000;
}

.command {
	background: #fff;
}

.command h2 {
	margin-bottom: 15px;
}

.compeop {
	float: left;
	width: 33%;
}

.advant {
	float: left;
	width: 25%;
}

.about-port {
	float: left;
	width: 33%;
	text-align: center;
}

.about-port img {
	width: 200px;
	height: 144px;
}

.about-port-a {
	float: right;
	margin-top: 15px;
	font-size: 19px;
	padding: 10px;
	color: #fff;
	background: #8987f5;
	font-weight: bold;
}

.port {
	float: left;
	margin-bottom: 20px;
}

.port img {
	width: 200px;
	padding-right: 25px;
	float: left;
}

.port a {
	color: #000;
}

.form {
	background: #eee;
}

.form h2 {
	margin-bottom: 15px;
}

.form-cont {
	max-width: 500px;
	margin: 0 auto;
}

.form-cont input {
	width: 100%;
	height: 30px;
	margin-bottom: 10px;
	border-radius: 9px;
	box-shadow: 0 0 4px rgb(41, 136, 255);
	border: 1px solid #9f9f9f;
}

.form-cont textarea {
	width: 100%;
	height: 100px;
	resize: none;
	border-radius: 9px;
	box-shadow: 0 0 4px rgb(41, 136, 255);
	border: 1px solid #9f9f9f;
	margin-bottom: 10px;
}

.form-cont button {
	display: block;
	margin: 0 auto;
	padding: 12px;
	color: #5c5c5c;
	font-weight: bold;
	background: #00fff1;
	border: none;
	border-radius: 20px;
	cursor: pointer;
}

footer {
	background: #434343;
}

.footer-ul {
	margin-top: 20px;
	margin-bottom: 60px;
}

.footer-ul li a {
	font-size: 20px;
	text-decoration: none;
	color: #fff;
}

.footer-ul li a:hover {
	text-decoration: underline;
}

footer b {
	color: #fff;
	line-height: 5.7;
}

.news-section {
	background: #fff;
}

.news-section h2 {
	margin-bottom: 50px;
}

.news-block {
	overflow: hidden;
	padding-bottom: 20px;
	margin-bottom: 30px;
}

.news-block:last-child {
	border-bottom: none;
}

.news-block h4, .date {
	margin-bottom: 10px;
}

.news-block a {
	color: #000;
}

.news-block p {
	margin-bottom: 30px;
}

.news-foot {
	margin-bottom: 80px;
}

.comment {
	float: left;
	cursor: pointer;
}

.author {
	float: right;
}

.comment-block {
	overflow: hidden;
	background: #f7f7f7;
	margin-left: 26px;
	margin-bottom: 20px;
}

.c2, .c1 {
	display: none;
}

.com-block {
	display: block;
}

.comment-block img {
	float: left;
	padding-right: 15px;
}

.ad-com {
	max-width: 300px;
}

.ad-com input, textarea {
	width: 100%;
	height: 30px;
	margin-bottom: 10px;
	border-radius: 9px;
	box-shadow: 0 0 4px rgb(41, 136, 255);
	border: 1px solid #9f9f9f;
}

.ad-com textarea {
	resize: none;
	height: 70px;
}

.ad-com button {
	display: block;
	padding: 12px;
	color: #5c5c5c;
	font-weight: bold;
	background: #00fff1;
	border: none;
	border-radius: 20px;
	cursor: pointer;
}


.ad-tit {
	margin-bottom: 5px;
}

.nn {
	box-shadow: 0 0 5px rgb(228, 228, 228);
	margin-bottom: 10px;
}